.joystick {
  display: grid;
  grid-template-areas: 
    ". up ."
    "left . right"
    ". down .";
  position: absolute;
  gap: 10px;
  bottom: 20px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20%;
  right: 30px;
  bottom: 30px;
}

.joystick > button {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 20px;
}

.up {
  grid-area: up;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.down {
  grid-area: down;
}
