.map-position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px rgb(167, 167, 167) solid;
  background-size: cover;
  transform-style: preserve-3d;
}
